

  #pos1{
    background-image: url("/images/ID\ CARD.jpg");
  }

  
  #pos2{
    background-image: url("/images/menarche.jpg");
  }
  #pos3{
    background-image: url("/images/covid\ tales.jpg ");
  }

  #pos4{
    background-image: url("/images/book1.jpg");
  }

  
  #pos5{
    background-image: url("/images/cake.jpg");
  }
  #pos6{
    background-image: url("/images/coffeee.jpg ");
  }









  #music{
    background-color: #ffffff;

  }
  #errormusic{
    color: #232323;
  }
  
  #errormusicsub{
    color: #ff4800;
  }
  
  #btnmusic{
    background-color:#ff4800 ;
    color:#ffffff ;
  }



  
  
  
  
  
  
  
  
  
  
  
  
  
  @import url(https://fonts.googleapis.com/css?family=Raleway:400,800,900|Roboto:400,900);

html {
	scroll-behavior: smooth;
	overflow: scroll;
	overflow-x: hidden;
  }
  ::-webkit-scrollbar {
	width: 0;  /* Remove scrollbar space */
	background: transparent;  /* Optional: just make scrollbar invisible */
  }
  /* Optional: show position indicator in red */
  ::-webkit-scrollbar-thumb {

  }
  
  body{
  margin: 0;
  background-color: black;
  
}

.outer{

margin: 20px;
background-color: rgb(0, 0, 0);
display: flex;

}

.left{
  height: 400px;
  width: 33.33%;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.left:hover{
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1); 
  transition: transform 0.5s;
}


.header{

  background-image: url("/images/ID\ CARD.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; 
  height: 100px;
}







@media screen and (min-width: 800px) {

}



@media (max-width: 768px) {
  .outer{
    display: block;

  }

  .left{
    width: 100%;


  

}