body {
  display: flex;
  flex-flow: space-between;
  height: 100vh;
  font-family: raleway;
  margin: 0;
  color: #ececec;
  line-height: 1.53em;
  font-size: 0.9rem;
  background-color: #efeeff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: montserrat
  font-weight: 300;
  margin-top: 3rem;
  color: #484866;
}

main {
  flex: 3 3 100%;
  overflow: auto;
  padding: 2rem 3rem;
}

nav {
  flex: 1 1 300px;
  background-color: #1d1d1d;
  min-width: 240px;
  paddings: 1rem;
  overflow-y: auto;
}

h1,
h2,
p {
  max-width: 700px;
}

a {
  color: #eeeeff;
  text-decoration: none;
}

.active {
  color: #ff8888;
  font-weight: bold;
}

ul {
  list-style: none;
  padding-left: 1.25rem;
}

ul li::before {
  content: "\2022";
  color: #eeeeff;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}




























@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@500&display=swap');
 *, :after, :before {
	 box-sizing: inherit;
}
 body {
	 background: #313131;
	 
}
 .cv-code {
	 content-visibility: auto;
	 border-radius: 0.5rem;
	 overflow: hidden;
	 background: #1f1e1e;
	 width: 500px;
	 max-width: 95%;
	
}
 .cv-code-header {
	 display: flex;
	 align-items: center;
	 background: #393d3e;
	 color: #eee;
	 text-align: center;
	 padding: 5px 10px;
	 border-radius: 0.5rem 0.5rem 0 0;
	 position: relative;
	 font-family: "JetBrains Mono", monospace;
}
 .cv-code-buttons {
	 margin-right: 1rem;
	 display: flex;
	 gap: 6px;
}
 .cv-code-buttons .fake-button[data-close] {
	 width: 0.7rem;
	 height: 0.7rem;
	 border-radius: 50%;
	 background: #f77669;
}
 .cv-code-buttons .fake-button[data-minify] {
	 width: 0.7rem;
	 height: 0.7rem;
	 border-radius: 50%;
	 background: #ffcb6b;
}
 .cv-code-buttons .fake-button[data-expand] {
	 width: 0.7rem;
	 height: 0.7rem;
	 border-radius: 50%;
	 background: #c3e88d;
}
 .cv-code-title {
	 margin: 0 auto;
	 display: block;
}
 .cv-code .content {
	 color: white;
	 padding: 1rem;
	 font-family: 'Encode Sans Expanded', sans-serif;
	 font-size: 0.8rem;
}
 .cv-code .content .instruction {
	 display: block;
	 padding: 0 0 7px 0;
}
 .cv-code .content .user {
	 color: #6db928;
}
 .cv-code .content .path, .cv-code .content .command {
	 color: #6fa5cd;
}
 


@media (max-width: 900px) {
  .mob {
    display: none;
  }
}


.standard-btn-coloured {
  text-decoration:none;
  background:#00acec;
  border: 2px solid #00ACEC;
  padding:10px 20px 10px 20px;
  border-radius:2px;
  color:#FFFFFF;
  margin:5px;
}
