@import url("https://fonts.googleapis.com/css2?family=Spartan&display=swap");
* {
  box-sizing: border-box;
}

img {
  display: none;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  position: fixed;
  right: 0;
  transform: translateY(-50%);
  top: 50%;
  width: 40%;
}
@media only screen and (min-width: 1024px) {
  img {
    aspect-ratio: 1/1;
    box-shadow: 0 0 1rem 0.2rem rgba(0, 0, 0, 0.3);
    height: auto;
    right: 5%;
  }
}

li {
  align-items: center;
  flex-direction: row;
  display: flex;
  justify-content: flex-start;
  font-family: "Spartan", "sans-serif";
  font-weight: 900;
  font-size: 18px;
  font-size: 1.125rem;
  color: black;
  min-height: 1vw;
  height: 100vh;
  line-height: 1.5;
  padding: 5%;
  position: relative;
  width: 50%;
}

.nav-buttons {
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 5% 0;
  position: fixed;
  right: 0;
  width: 5%;
  z-index: 2;
}
.nav-buttons .btn {
  background-color: black;
  border-radius: 50%;
  cursor: pointer;
  height: 0.75rem;
  opacity: 0.5;
  margin: 15% 0;
  width: 0.75rem;
}
.nav-buttons .btn:hover {
  opacity: 1;
}
.nav-buttons .btn:hover + .preview {
  display: block;
}
.nav-buttons .preview {
  background-color: black;
  border-radius: 0.5rem;
  content: "";
  display: none;
  height: 5rem;
  position: absolute;
  right: 3rem;
  width: 5rem;
  z-index: 3;
}