.section {
    padding: 3rem 1.5rem;
    background-image: linear-gradient(237deg, #fb542b 0%, #392dd1 100%) !important;
    border-radius: 0% 0% 23% 11%;
}

.navbar {
    background-color: white;
    min-height: 3.25rem;
    background-image: linear-gradient(237deg, #fb542b 0%, #392dd1 100%) !important;
    position: relative;
    z-index: 30;
}

a.navbar-item,
.navbar-link {
    color: white;
    font-weight: 550;
    font-size: 14px;
}

#navbarBasicExample {
    background-image: linear-gradient(237deg, #fb542b 0%, #392dd1 100%) !important;
}

.navbar-dropdown a.navbar-item {
    padding-right: 3rem;
    color: black;
}

.navbar-dropdown a.navbar-item:hover{
    padding-right: 3rem;
    color: #fb542b;
}

a.navbar-item:hover,
a.navbar-item.is-active,
.navbar-link:hover,
.navbar-link.is-active {
    background-color: transparent;
    color: #fb542b;
}

.navbar-item.has-dropdown:hover .navbar-link,
.navbar-item.has-dropdown.is-active .navbar-link {
    background-color: transparent;
}


#nav-download{
    border-radius: 50px;
    color: #FFFFFF !important;
    transition: all .25s ease-in-out;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(255, 255, 255, .5);
}

.hero {
    padding-top: 6em;
    padding-bottom: 2em;
}

p.mb-4.moto {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 19px;
    color: rgba(255, 255, 255, 0.84) !important;
}

.info {
    font-weight: 600;
    font-size: 52px;
    color: white;
}

a.info.button.is-medium.is-rounded {
    color: #392dd1;
}

.description{
    padding-top: 10rem;
    padding-bottom: 6rem;
}

p.mb-4.features {
    color: #fb542b;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 740;
}

h2.subtitle.description-large-size {
    font-weight: 650;
    font-size: 38px;
    color: #343546;
}

h2.subtitle.description-text {
    font-size: 15px;
    line-height: 2;
}

hr{
    background-color: #e6e6e6;
}

.box{
    box-shadow: 0px 6px 21px -6px rgba(0,0,0,0.3);
}

a.has-text-centered.button.is-large.is-rounded {
    margin-bottom: 8rem;
    margin-top: 2rem;
    color: #ffffff!important;
    border-width: 0px!important;
    border-color: rgba(0,0,0,0);
    border-radius: 78px;
    letter-spacing: 1px;
    font-size: 20px;
    font-family: 'Poppins',sans-serif!important;
    font-weight: 600!important;
    text-transform: uppercase!important;
    background-color: #fb542b;
}