@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color:#413e47;
}
body {

  height: 80vh;
  background-attachment: fixed;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}
.container {
  margin: 1em;
  height: calc(100% - 2em);
}
@media (min-width: 62.5em) {
  .container {
    display: flex;
    padding: 1.6em;
  }
}
@media (min-width: 43.75em) {
  .container .left-col {
    display: flex;
  }
}
.container .left-col nav {
  position: fixed;
  z-index: 1;
  background: #2c2931;
  left: 0;
  top: 0;
  height: 100vh;
  max-width: 300px;
  transform: translatex(-100%);
  transition: transform 0.3s;
}
@media (min-width: 62.5em) {
  .container .left-col nav {
    position: unset;
    transform: translateX(0) !important;
    border-radius: unset;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
    height: 100%;
  }
}
.container .left-col nav .back-btn {
  padding: 2em 3em 2em;
  transform: scalex(-1);
  color: #fff;
  cursor: pointer;
  font-size: 1.47rem;
  transition: transform 0.3s;
}
@media (min-width: 62.5em) {
  .container .left-col nav .back-btn {
    display: none;
  }
}
.container .left-col nav .back-btn:hover {
  transform: scalex(-1) translatex(6px);
}
.container .left-col nav ul {
  list-style-type: none;
  width: 100%;
}
@media (min-width: 62.5em) {
  .container .left-col nav ul {
    margin-top: 4em;
  }
}
.container .left-col nav ul li {
  width: 100%;
}
.container .left-col nav ul li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 0.875em 5em 0.875em 4em;
}
.container .left-col nav ul li a:hover {
  background: #413e47;
}
.container .left-col nav ul li .active {
  background: var(--primary-color);
}
.container .left-col nav ul li .active:hover {
  background: ##413e47;
}
.container section {
  background: #777777 url("images/geci.jpg");
  background-size: cover;
  height: 100%;
  background-blend-mode: screen;
  background-position: 50% 50%;
  padding: 2em;
  border-radius: 13px;
}
@media (min-width: 62.5em) {
  .container section {
    border-radius: unset;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    width: 100%;
    background-size: cover;
    background-position: bottom;
    background-attachment: unset;
  }
}
.container section header {
  display: flex;
  align-items: center;
}
@media (min-width: 62.5em) {
  .container section header {
    padding: 1.1em 1.1em 0;
  }
}
.container section header .logo {
  color: var(--primary-color);
  font-weight: 800;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: -0.1em;
  text-align: center;
  width: 100%;
}
@media (min-width: 62.5em) {
  .container section header .logo {
    text-align: left;
  }
}
.container section header .menu-btn {
  width: 35px;
  color: #fff;
  cursor: pointer;
}
@media (min-width: 62.5em) {
  .container section header .menu-btn {
    display: none;
  }
}
.container section .cv {
  display: grid;
  place-items: center;
  height: 80%;
}
@media (min-width: 62.5em) {
  .container section .cv .content {
    justify-self: left;
    margin-left: 4em;
  }
}
.container section .cv .content h1 {
  color: #fff;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 99%;
  font-size: 3rem;
  font-size: clamp(2.5rem, 7.458rem, 4rem);
}
.container section .cv .content p {
  font-size: 1.5rem;
  font-size: clamp(1.8rem, 7.458rem, 2.75rem);
  font-weight: 300;
  line-height: 118%;
  margin-top: 0.5em;
  color: #847d93;
}
@media (min-width: 43.75em) {
  .container section .cv .content p {
    width: 75%;
  }
}
.container section .cv .content .cta {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  margin-top: 2.875em;
  border: 1px solid #4d4d4d;
  padding: 1.25em 1.25em 1.25em calc(2.5em + 1.5em);
  position: relative;
  transition: 0.3s ease-in-out;
}
.container section .cv .content .cta:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f061";
  position: absolute;
  width: 1.5em;
  height: 1.5em;
  left: 1.25em;
  display: flex;
  align-items: center;
}
.container section .cv .content .cta:hover {
  background: var(--primary-color);
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800");

* {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}

.User-area {
	width: 45px;
	height: 45px;
	position: relative;
	cursor: pointer;
}

.User-area > .User-avtar {
	width: 100%;
	height: 100%;
	border-radius: 30px;
	border: 2px solid #fff;
	box-shadow: 0px 0px 12px -5px #000;
}

.User-area > .User-avtar > img {
	width: 100%;
	height: 100%;
	border-radius: 30px;
}

.User-Dropdown {
	display: none;
	position: absolute;
	border-radius: 7px;
	background: #fff;
	box-shadow: 0px 0px 8px rgba(214, 214, 214, 0.78);
	list-style: none;
	padding: 0 20px;
	width: 150px;
	margin: 0;
	top: 70px;
	right: -9%;
}

.User-Dropdown:before {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	margin-left: -0.5em;
	right: 0px;
	box-sizing: border-box;
	border: 7px solid black;
	border-color: transparent transparent #ffffff #ffffff;
	transform-origin: 0 0;
	transform: rotate(135deg);
	box-shadow: -3px 3px 3px -3px rgba(214, 214, 214, 0.78);
}

.User-Dropdown.U-open {
	display: block;
}

.User-Dropdown > li {
	padding: 0px;
	line-height: 47px;
	border-bottom: 1px solid rgba(215, 215, 215, 0.17);
}

.User-Dropdown > li:last-child {
	border-bottom: 0px;
}

.User-Dropdown > li > a {
	font-size: 13px;
	padding: 15px 25px 16px 10px;
	text-decoration: none;
	color: #1787e0;
	transition: all .2s ease-out;
}

.User-Dropdown span {
	background: #16d67a;
	padding: 3px 10px;
	color: #fff;
	border-radius: 30px;
	font-size: 13px;
}

.User-Dropdown > li:before {
	content: '';
	width: 0px;
	height: 40px;
	position: absolute;
	background: #2196F3;
	margin-top: 4px;
	border-radius: 0 1px 1px 0;
	left: 0px;
	transition: all .2s ease;
}

.User-Dropdown > li:hover:before {
	width: 5px;
	border-radius: 30px;
}

.User-Dropdown > li a:hover {
	margin-left: 5px;
}