@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif !important;
    
}

body {
   
    background: url(back-01.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
   }

a:hover {
    text-decoration: none;
}


.responsive {

    width: 60%;
    height: auto;

}
.title{
    width: 60%;
    height: auto;
    margin-top: 50px;
}





.titu{
    background-image: image("title.png");

}

.content{
    
    
     
}

@media only screen and (max-width: 900px) 
{
    .content {
        margin-bottom: 50px;
        font-size: small;
        text-align: justify;
        text-justify:newspaper;
        padding: 15px;
    }
    .box{
      margin-bottom: 20px;
    }
    body{
        padding: 15px;
    }
    .title{
      
        width: 90%;
        margin-bottom: 0px;
    }
    .logos{
        display: block;
    }
    .bar
    {
        display: none;
    }

    .caption{

        letter-spacing: 0.1rem;
        font-size: 0.9rem;
    }

    .my-card {
        
        margin-bottom: 20rem;
        
    
      }

      .footer{
          margin-left: 40%;
      }
   

  }




  .box{
      border-radius: 30px;
      background-color: aqua;
  }
  

  .border {
    
    border: 3px solid transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #78e4ff, #ff48fa);
    
}


button.button 
{
    border-radius: 100rem;
    padding: 1rem;
    font-family: raleway;
    font-size: 1rem;
    padding: .5rem 3rem;
    
   
    border: solid 3px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #78e4ff, #ff48fa);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px #fff inset;
  }
  
  button.button:hover {
    box-shadow: none;
    color: white;
  }

  .but{
    border-radius: 100rem;
   
    font-family: raleway;
    font-size: 1rem;
    padding: 0.5rem 2rem ;
    width: 120px;
    margin-right: 50px;
    height: 40px;
    border: solid 3px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #78e4ff, #48bcff);
    background-origin: border-box;
    background-clip: content-box, border-box;
    background-color: ;
    box-shadow: 2px 1000px 1px rgb(245, 244, 244) inset;
  }

  .but2{
    width: 150px;
  }


  .logos{
    width: 100%px;
   
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    background-color: aquamarine;
  }
  
  @media only screen and (max-width: 1000px) {
    .logos{
        display: block;
    }

  }
.logo{
     margin-right: 2re;
}



.bar{
    width: 90%;
    height: auto;
    margin-top: 50px;
}

.logo-title
{
   font-size: 20px;
   font-weight: 700;
   margin-top: 2rem;
}

.bar-vertical{

    width: 90%;
    height: auto;
    margin-top: 50px;
}


@media only screen and (min-width: 900px) {
    .bar-vertical{
        display: none;
    }
    .caption{
        letter-spacing: 0.5rem;
    }

    .my-card {
        
        margin-bottom: 2rem;
        
      }
    
   
}


.my-card {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 5rem;
    padding-bottom: 5rem;
    margin-bottom: 20rem;
    
   
   
  }
  
  
  
    @media only screen and (max-width: 999px) {
      .my-card {
          display: block;
        
      }
    }

    .left
    {
     
       padding-right: 2rem;
       float: right;
       margin-bottom: 2rem;
    }
    
    .right
    {
        padding-left: 2rem;
        margin-top: 2rem;
        float: left;
    }



    .contact-title
    {

        font-size: 16px;
   font-weight: 700;
   margin-top: 2rem;

    }
.footer
{
   word-spacing: 5rem;
   margin-bottom: 2rem;
   background-color: rgb(52, 188, 230); 
   padding: 30px; align-content: center; 
   color: rgb(255, 255, 255); 
   display: flex;
   line-height: 3rem;
}

    